doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      div(class='sidebar-container')
        div
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/catalog') Home
              li
                a(href='/catalog/boats') All boats
              li
                a(href='/catalog/designers') All designers
              li
                a(href='/catalog/manufacturers') All manufacturers
              li
                a(href='/catalog/types') All types
              li
                hr
              li
                a(href='/catalog/boat/create') Create new boat
              li
                a(href='/catalog/designer/create') Create new designer
              li
                a(href='/catalog/manufacturer/create') Create new manufacturer
              li
                a(href='/catalog/type/create') Create new type

      div(class='main-content-container')
        block content
      div(class="footer")
        p The Odin Project 2023 - Coded by 
          a(href="https://github.com/oguzhan-ulutas") oguzhan-ulutas
