extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Swan, Halberg-Rassy etc.' name='name' value=(undefined===manufacturer ? '' : manufacturer.name))
    div.form-group
      label(for='country') Country:
      input#country.form-control(type='text', placeholder='Türkiye, Germany etc.' name='country' value=(undefined===manufacturer ? '' : manufacturer.country))
    div.form-group
      label(for='name') City:
      input#city.form-control(type='text', placeholder='İstanbul, Paris, London etc.' name='city' value=(undefined===manufacturer ? '' : manufacturer.city))
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg