extends layout

block content

  h1 Type: #{type.name}

  div

    h4 Boats

    dl(class="item-detail-page")
      each boat in boatsInType
        dt
          a(href=boat.url) #{boat.model} 
          | (Manufacturer: #{boat.manufacturer[0].name})

      else
        p This genre has no boats